@import url("https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
nav {
  background-color: #000000;
  height: 80px;
}
.icon {
  width: 200px;
  float: left;
  height: 70px;
  padding-top: 13px;
}
.logo {
  color: #dc5f00;
  font-size: 30px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
  font-weight: 600;
}
.menu {
  display: flex;
  float: right;
  padding-top: 30px;
}
.menu ul {
  display: flex;
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  font-family: Arial;
  color: #eeeeee;
  margin-right: 25px;
  font-weight: 600;
}
.menu ul li a:hover {
  color: #dc5f00;
}
main {
  transform: translateY(20px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.judul {
  color: #cf0a0a;
  text-align: center;
  margin-top: 50px;
}
.slide-container {
  max-width: 1120px;
  width: 100%;
  background-color: #ccc7c7;
  padding: 10px;
}
.slide-content {
  overflow: hidden;
  margin: 0 40px;
}
.card {
  border-radius: 25px;
  background-color: #f1f1f1;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #cf0a0a;
  border-radius: 25px 25px 25px 25px;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #f1f1f1;
}
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #cf0a0a;
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #cf0a0a;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #dc5f00;
}
